# Tuple

In [56]:
my_tuple=(1,2,3,4)
print(my_tuple)

(1, 2, 3, 4)

In [57]:
my_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [58]:
# I would recommend always using parentheses
# to indicate start and end of tuple
# even though parentheses are optional.
# Explicit is better than implicit.
zoo = ('python', 'elephant', 'penguin')
print('Number of animals in the zoo is', len(zoo))
new_zoo = 'monkey', 'camel', zoo # parentheses not required but are a good idea
print('Number of cages in the new zoo is', len(new_zoo))
print('All animals in new zoo are', new_zoo)
print('Animals brought from old zoo are', new_zoo[2])
print('Last animal brought from old zoo is', new_zoo[2][2])
print('Number of animals in the new zoo is', 
    len(new_zoo)-1+len(new_zoo[2]))

Number of animals in the zoo is 3
Number of cages in the new zoo is 3
All animals in new zoo are ('monkey', 'camel', ('python', 'elephant', 'penguin'))
Animals brought from old zoo are ('python', 'elephant', 'penguin')
Last animal brought from old zoo is penguin
Number of animals in the new zoo is 5

In [1]:
# typecasting list to set
myset = set(["a", "b", "c"])
print(myset)

{'a', 'b', 'c'}

In [2]:
# Adding element to the set
myset.add("yatheesa")
print(myset)

{'a', 'b', 'yatheesa', 'c'}

In [3]:
my_tuple=(1,2,3,4)
print(my_tuple)

(1, 2, 3, 4)

In [4]:
my_newset = set((1,2,3,4))
print(my_newset)

{1, 2, 3, 4}

In [5]:
# Adding element to the set
my_newset.add("yatheesa")
print(my_newset)

{1, 2, 3, 4, 'yatheesa'}

In [9]:
# Python program to demonstrate differences
# between normal and frozen set
# Same as {"a", "b","c"}
normal_set = set(["a", "b","c"])
 
print("Normal Set")
print(normal_set)

# Adding element to the normal set
normal_set.add("yatheesa")
print(normal_set)
 
# A frozen set
frozen_set = frozenset(["e", "f", "g"])
 
print("\nFrozen Set")
print(frozen_set)

# Adding element to the frozen set
frozen_set.add("yatheesa")
print(frozen_set)

Normal Set
{'a', 'b', 'c'}
{'a', 'b', 'yatheesa', 'c'}

Frozen Set
frozenset({'f', 'e', 'g'})

AttributeError: 'frozenset' object has no attribute 'add'

In Python, any immutable object (such as an integer, boolean, string, tuple) is hashable, meaning its value does not change during its lifetime. This allows Python to create a unique hash value to identify it, which can be used by dictionaries to track unique keys and sets to track unique values. Is a Python list hashable?

In [14]:
# A Python program to
# demonstrate adding elements
# in a set
 
# Creating a Set
people = {"Jay", "Idrish", "Archi"}
 
print("People:", end = " ")
print(people)
 
# This will add Daxit
# in the set
people.add(("Daxit","Vijay"))
 
# Adding elements to the
# set using iterator
for i in range(1, 6):
    people.add(i)
 
print("\nSet after adding element:", end = " ")
print(people)

People: {'Archi', 'Idrish', 'Jay'}

Set after adding element: {'Archi', 1, 2, 3, 4, 5, ('Daxit', 'Vijay'), 'Idrish', 'Jay'}

In [36]:
a = {4,5}
b = {1,2,3,4,5}
a.issubset(b)
b.issubset(a)
a>=b
b>=a
a.issubset(a)
5 in a
4 in b
a.union(b)
a.intersection_update(b)
a

{4, 5}

In [28]:
{4,5} == {4,5}

True

In [40]:

# Python program to demonstrate working# of
# Set in Python
 
# Creating two sets
set1 = set()
set2 = set()
 
# Adding elements to set1
for i in range(1, 6):
    set1.add(i)
 
# Adding elements to set2
for i in range(3, 8):
    set2.add(i)
 
print("Set1 = ", set1)
print("Set2 = ", set2)
print("\n")
 
# Union of set1 and set2
set3 = set1 | set2# set1.union(set2)
print("Union of Set1 & Set2: Set3 = ", set3)
 
# Intersection of set1 and set2
set4 = set1 & set2# set1.intersection(set2)
print("Intersection of Set1 & Set2: Set4 = ", set4)
print("\n")
 
# Checking relation between set3 and set4
if set3 > set4: # set3.issuperset(set4)
    print("Set3 is superset of Set4")
elif set3 < set4: # set3.issubset(set4)
    print("Set3 is subset of Set4")
else : # set3 == set4
    print("Set3 is same as Set4")
 
# displaying relation between set4 and set3
if set4 < set3: # set4.issubset(set3)
    print("Set4 is subset of Set3")
    print("\n")
 
# difference between set3 and set4
set5 = set3 - set4
print("Elements in Set3 and not in Set4: Set5 = ", set5)
print("\n")
 
# check if set4 and set5 are disjoint sets
if set4.isdisjoint(set5):
    print("Set4 and Set5 have nothing in common\n")
 
# Removing all the values of set5
set5.clear()
 
print("After applying clear on sets Set5: ")
print("Set5 = ", set5)

Set1 =  {1, 2, 3, 4, 5}
Set2 =  {3, 4, 5, 6, 7}


Union of Set1 & Set2: Set3 =  {1, 2, 3, 4, 5, 6, 7}
Intersection of Set1 & Set2: Set4 =  {3, 4, 5}


Set3 is superset of Set4
Set4 is subset of Set3


Elements in Set3 and not in Set4: Set5 =  {1, 2, 6, 7}


Set4 and Set5 have nothing in common

After applying clear on sets Set5:
Set5 =  set()

Can a set be accessed by index?
No. Trying to access a set by index will throw an error.

In [44]:
# Creating an empty Tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)

# Creating a Tuple
# with the use of string
Tuple1 = ('Geeks', 'For', 'Love')
print("\nTuple with the use of String: ")
print(Tuple1)

# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

# Creating a List with
# the use of tuple
tuple1 = (1, 2, 4, 5, 6)
print("\nlist using Tuple: ")
print(list(tuple1))

Initial empty Tuple:
()

Tuple with the use of String:
('Geeks', 'For', 'Love')

Tuple using List:
(1, 2, 4, 5, 6)

list using Tuple:
[1, 2, 4, 5, 6]

In [45]:

# Creating a Tuple
# with Mixed Datatype
Tuple1 = (5, 'Welcome', 7, 'toclub')
print("\nTuple with Mixed Datatypes: ")
print(Tuple1)

Tuple with Mixed Datatypes:
(5, 'Welcome', 7, 'toclub')

In [48]:
# Creating a Tuple
# with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))

In [49]:
# Creating a Tuple
# with repetition
Tuple1 = ('Greatness comes with practise',) * 3
print("\nTuple with repetition: ")
print(Tuple1)

Tuple with repetition:
('Greatness comes with practise', 'Greatness comes with practise', 'Greatness comes with practise')

In [51]:
# Creating a Tuple
# with the use of loop
Tuple1 = ('Greatness comes with practise')
n = 5
print("\nTuple with a loop")
for i in range(int(n)):
    Tuple1 = (Tuple1)
    print(Tuple1)

Tuple with a loop
Greatness comes with practise
Greatness comes with practise
Greatness comes with practise
Greatness comes with practise
Greatness comes with practise

In [53]:
# Accessing Tuple
# with Indexing
Tuple1 = tuple("Geeks")
print("\nFirst element of Tuple: ")
print(Tuple1[0])

First element of Tuple:
G

In [55]:
# Tuple unpacking
Tuple1 = ("Geeks", "For", "Geeks")

# This line unpack
# values of Tuple1
a, b, c = Tuple1
print("\nValues after unpacking: ")
print(a)
print(b)
print(c)

Values after unpacking:
Geeks
For
Geeks

# Sequence

In [59]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
name = 'swaroop'
# Indexing or 'Subscription' operation #
print('Item 0 is', shoplist[0])
print('Item 1 is', shoplist[1])
print('Item 2 is', shoplist[2])
print('Item 3 is', shoplist[3])
print('Item -1 is', shoplist[-1])
print('Item -2 is', shoplist[-2])
print('Character 0 is', name[0])
# Slicing on a list #
print('Item 1 to 3 is', shoplist[1:3])
print('Item 2 to end is', shoplist[2:])
print('Item 1 to -1 is', shoplist[1:-1])
print('Item start to end is', shoplist[:])
# Slicing on a string #
print('characters 1 to 3 is', name[1:3])
print('characters 2 to end is', name[2:])
print('characters 1 to -1 is', name[1:-1])
print('characters start to end is', name[:])

Item 0 is apple
Item 1 is mango
Item 2 is carrot
Item 3 is banana
Item -1 is banana
Item -2 is carrot
Character 0 is s
Item 1 to 3 is ['mango', 'carrot']
Item 2 to end is ['carrot', 'banana']
Item 1 to -1 is ['mango', 'carrot']
Item start to end is ['apple', 'mango', 'carrot', 'banana']
characters 1 to 3 is wa
characters 2 to end is aroop
characters 1 to -1 is waroo
characters start to end is swaroop